[Unit]
Description=KrakenCollector
After=syslog.target network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/kraken_collector.env
WorkingDirectory=/home/pi/kraken_collector
ExecStart=/home/pi/kraken_collector/bin/collector
TimeoutStopSec=5
KillMode=process
Restart=always
User=pi
Group=pi
StandardOutput=journal
StandardError=journal

[Install]
WantedBy = multi-user.target
