[Unit]
Description=KrakenCollector
After=syslog.target network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/kraken_collector.env
WorkingDirectory=/home/ubuntu/kraken
ExecStart=/home/ubuntu/kraken/kraken_collector_0_1_0_release_rpi_ubuntu_aarch64
TimeoutStopSec=5
KillMode=process
Restart=always
User=root
Group=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy = multi-user.target